<h1>ユーザー編集</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_area :email %>   
  </div>

  <div>
    <%= form.submit "アカウント情報を更新"%>
  </div>
<% end %>

<div>
    <%= link_to '戻る', @user %>
</div>
