<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if @user.id == current_user.id %>
    <h2>タスク一覧</h2>
    <% if @user.tasks[0] %>
      <% @user.tasks.each do |task| %>
        <h3><%= task.title %></h3>
        <p>タスクID：<%= task.id %></p>
        <p>タスク内容：<%= task.content %></p>
          <% if task.photo.attached? %>
            <p>タスク関連画像：</p>
            <%= image_tag url_for(task.photo), height: 100 %>
          <% else %>
            No Image
          <% end %>
      <% end %>
    <% else %>
      <p>タスクはありません</p>
    <% end %>
    <br/>
    <%= link_to "ユーザー情報を編集する", edit_user_path(@user) %> 

    <%= link_to "アカウントを消去する", @user, method: :delete %>
  <% else %>
    <p>アクセス権限がありません</p>
  <% end %>
</div>
