<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <% if @user.id == current_user.id %>
    <br/>
    <%= link_to "トップへ", welcome_index_url %>
    <br />
    <%= link_to "ユーザー情報を編集する", edit_user_path(@user) %> 

    <%= link_to "アカウントを消去する", @user, method: :delete %>
  <% else %>
    <p>アクセス権限がありません</p>
  <% end %>
</div>
