<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= task.user.name %>さん
    <br/>
    タスク名：<%= task.title %>
    <hr>
  <% end %>
</div>

<%= link_to "タスク追加", new_task_path %>
<%= link_to "トップへ", welcome_index_url %>
